<html>
    <head>
        <title>Letania's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Letania's Blog</a></h1>
        </div>

        <div>
            <p>published: 03.27.2018, 12:25</p>
            <h2><a href="">My first post</a></h2>
            <p>Learning Django has been a pretty cool experience. The Django girls tutorial is pretty cool.</p>
        </div>

        <div>
            <p>published: 03.28.2018, 3:14</p>
            <h2><a href="">My second post</a></h2>
            <p>The Pretty Printed youtube channel also has a lot of good explanations about Django for beginners.</p>
        </div>
    </body>

</html>